<h1>Say#hello</h1>h
<p>Find me in app/views/say/hello.html.erb</p>


<p> <%=@now %></p>
<%= 2+2 %>

<%= link_to "Teach Dave", dave_teach_path %>

<a href="http://www.rubyonrails.org">Ruby on Rails</a>

<%= nav_link_to  "Login", "login", page_login_path %>