<h1>Page#contact_us</h1>
<p>Find me in app/views/page/contact_us.html.erb</p>



<a href='www.lauren.mn'>Email Me 1</a><br/>
<a href="mailto:lauren@lauren.mn">Email Me 1</a><br/>
<%= mail_to("lauren@lauren.mn", "Email Me") %>